* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

}

.calculator {
    background: #fff;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);

}

.display {
    background-color: black;
    color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px 10px 0 0;
    max-width: 100%;
}

.display h1 {
    margin: 0;
    padding: 25px;
    font-size: 45px;
    font-family: serif;
    font-weight: 100;
    /* overflow-x: auto; */
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}

button {
    min-height: 50px;
    font-size: 20px;
    font-weight: 100;
    border: none;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
    cursor: pointer;
}

.operator {
    background: grey;
    color: white;
    font-size: 30px;
}

.clear {
    background-color: red;
    color: white;
}

.equal-sign {
    grid-column: -2;
    grid-row: 2 / span 4;
    background-color: rgb(13, 206, 87);
}